$clr-red: hsl(14, 88%, 65%);
$clr-gray: hsl(240, 5%, 91%);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}
.card {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  max-width: 340px;
  margin-bottom: 2rem;
}

.images__container {
  position: relative;
  .woman-mobile {
    position: absolute;
    right: 3rem;
    bottom: -5.75rem;
  }
  .woman-desktop,
  .img-box {
    display: none;
  }
}

.card__title {
  margin-bottom: 1rem;
}
.accordion-wrapper {
  background-color: #fff;
  padding: 6rem 1.5rem 3rem;
  border-radius: 1rem;
  flex-basis: 80%;
}
.accordion__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid $clr-gray;
  padding: 1rem 0;
  &:hover {
    color: $clr-red;
    cursor: pointer;
  }
  h3 {
    font-weight: 400;
  }
  img {
    height: 8px;
    transition: ease 0.2;
  }
}

.accordion__content {
  font-size: 0px;
  text-align: left;
  transition: ease-in 0.1s;
}
.active {
  font-size: 12px;
  padding: 1rem 0;
}
.invert {
  transform: rotateX(180deg);
}
.attribution {
  color: #fff;
  a {
    color: $clr-red;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      color: $clr-gray;
    }
  }
}

@media (min-width: 1440px) {
  .card {
    flex-direction: row;
    max-width: 1000px;
  }
  .images__container {
    flex-basis: 50%;
    background-color: #fff;
    border-radius: 1rem 0 0 1rem;
    .woman-desktop {
      display: block;
      width: 100%;
      position: absolute;
      left: -10%;
      top: 10%;
    }
    .img-box {
      display: block;
      position: absolute;
      z-index: 10;
      width: 50%;
      top: 31%;
      left: -24%;
    }
  }
  .woman-mobile {
    display: none;
  }

  .accordion-wrapper {
    border-radius: 0rem 1rem 1rem 0rem;
    padding-left: 2rem;
  }
}
