* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  font-family: "Kumbh Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.card {
  width: 90%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  max-width: 340px;
  margin-bottom: 2rem;
}

.images__container {
  position: relative;
}

.images__container .woman-mobile {
  position: absolute;
  right: 3rem;
  bottom: -5.75rem;
}

.images__container .woman-desktop,
.images__container .img-box {
  display: none;
}

.card__title {
  margin-bottom: 1rem;
}

.accordion-wrapper {
  background-color: #fff;
  padding: 6rem 1.5rem 3rem;
  border-radius: 1rem;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.accordion__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid #e7e7e9;
  padding: 1rem 0;
}

.accordion__title:hover {
  color: #f47c57;
  cursor: pointer;
}

.accordion__title .bold {
  font-weight: bold;
  color: #000;
}

.accordion__title h3 {
  font-weight: 400;
}

.accordion__title img {
  height: 8px;
  -webkit-transition: ease 0.2;
  transition: ease 0.2;
}

.accordion__content {
  font-size: 0px;
  text-align: left;
  -webkit-transition: ease-in 0.1s;
  transition: ease-in 0.1s;
}

.active {
  font-size: 12px;
  padding: 1rem 0;
}

.invert {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.attribution {
  color: #fff;
}

.attribution a {
  color: #f47c57;
  text-decoration: none;
}

.attribution a:hover {
  cursor: pointer;
  color: #e7e7e9;
}

@media (min-width: 1440px) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1000px;
  }
  .images__container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    background-color: #fff;
    border-radius: 1rem 0 0 1rem;
  }
  .images__container .woman-desktop {
    display: block;
    width: 100%;
    position: absolute;
    left: -10%;
    top: 10%;
  }
  .images__container .img-box {
    display: block;
    position: absolute;
    z-index: 10;
    width: 50%;
    top: 31%;
    left: -24%;
  }
  .woman-mobile {
    display: none;
  }
  .accordion-wrapper {
    border-radius: 0rem 1rem 1rem 0rem;
    padding-left: 2rem;
  }
  .accordion-wrapper h2 {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */